<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Configure site to serve JSON files -->
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
    <handlers accessPolicy="Script,Read">
      <clear />
      <add name="FlareIndex" path="index.html" verb="*" modules="StaticFileModule" type="System.Web.StaticFileHandler" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="dataJSON" path="data.json" verb="*" modules="StaticFileModule" type="System.Web.StaticFileHandler" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="anyScript" path="*" verb="*" modules="StaticFileModule" type="System.Web.StaticFileHandler" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
    </handlers>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <clear />
      <add path="*index.html" verb="*" type="System.Web.StaticFileHandler" />
      <add path="*data.json" verb="*" type="System.Web.StaticFileHandler" />
    </httpHandlers>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>